@model IEnumerable<musical_pancake.Models.Item>

@{
    ViewBag.Title = "List of Recipes";
    <!-- Layout = "~/Views/Shared/_Layout.cshtml"; -->
}

@foreach (var item in Model) {
  <div class="mdc-card demo-card demo-basic-with-text-over-media">
    <div class="mdc-card__primary-action demo-card__primary-action" tabindex="0">
      <div class="mdc-card__media mdc-card__media--16-9 demo-card__media" style="background-image: url(https://source.unsplash.com/600x400);">
        <div class="mdc-card__media-content demo-card__media-content">
          <div class="demo-card__primary">
            <h2 class="demo-card__title mdc-typography mdc-typography--headline6">@Html.DisplayFor(modelItem => item.Name)</h2>
            <h3 class="demo-card__subtitle mdc-typography mdc-typography--subtitle2">by 2 wierdos</h3>
          </div>
        </div>
      </div>
      <div class="demo-card__secondary mdc-typography mdc-typography--body2">@Html.DisplayFor(modelItem => item.Description)</div>
    </div>
    <div class="mdc-card__actions">
      <div class="mdc-card__action-buttons">
        <button class="mdc-button mdc-button--raised mdc-card__action mdc-card__action--button" title="Edit" onclick="location.href='@Url.Action("Edit", "Item", new { id=item.Id })'">Edit</button>
        <button class="mdc-button mdc-button--raised mdc-card__action mdc-card__action--button" title="Edit" onclick="location.href='@Url.Action("Details", "Item", new { id=item.Id })'">Details</button>
        <!-- @Html.ActionLink("Edit", "Edit", new { id=item.Id }, new {@class="mdc-button mdc-card__action mdc-card__action--button"})
        @Html.ActionLink("Details", "Details", new { id=item.Id }, new {@class="mdc-button mdc-card__action mdc-card__action--button"}) -->
      </div>
      <div class="mdc-card__action-icons">
        <button class="mdc-icon-button mdc-card__action mdc-card__action--icon--unbounded" aria-pressed=@item.Completed aria-label="Add to favorites" title="Add to favorites">
          <i class="material-icons mdc-icon-button__icon">@(item.Completed?"favorite":"favorite_border")</i>
        </button>
        <button class="mdc-icon-button material-icons mdc-card__action mdc-card__action--icon--unbounded" title="Share" data-mdc-ripple-is-unbounded="true">share</button>
        <button class="mdc-icon-button material-icons mdc-card__action mdc-card__action--icon--unbounded" title="More options" data-mdc-ripple-is-unbounded="true">more_vert</button>
      </div>
    </div>
  </div>

    <tr>
        <td>
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
